.Media {
    cursor: pointer;
    margin-right: 25px;
    display: inline-block;
    height: 330px;
    width: 320px;
    vertical-align: top;
    
}

.Media:hover .Media-cover {
    box-shadow: 0 0 10px rgba(0,0,0, 3);
}

.Media-cover {
    transition: .1s;
    box-shadow: 0 0 5px rgba(0,0,0,5);
    height: 260px;
    width: 330px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 50px 50px aqua;
}

.Media-image {
    object-fit: cover;
    height: 260px;
    width: 330px;
    border-radius: 10px;
    border: none;
    
    
}

.Media-title {
    margin: 5px 0 0 0;
    color: white;
   
    
}

.Media-author {
    font-size: 12px;
    margin: 5px 0 0 0;
   
    
}