.Related {
    width: 400px;

   
}
.Related-img {
    box-shadow: 2px 2px 5px aqua;
    
    border: none;
    outline: 10;
    transition: .1s;
    padding: 20px 20px 10px 20px;
    vertical-align: top;
    width: 300px;
    height: 300;
    object-fit: cover;
    
    border-radius: 100px;
    border: none;
    cursor: pointer;
    
}